/* global */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
body {
  background: rgb(39,40,34);
  color: rgb(117,241,171);
  font-family: 'Source Code Pro', monospace;
}

/* space */
.huge.vh.space {
  height: 40vh;
}
.mid.vh.space {
  height: 20vh;
}
.huge.px.space {
  height: 200px;
}
.mid.px.space {
  height: 100px;
}
.small.px.space {
  height: 50px;
}
.min.px.space {
  height: 20px;
}

/* paragraph */
.paragraph {
  font-size: 18px;
}

/* overwrite */
.ui.pastleo.header {
  color: rgb(117,241,171);
}
