/* body */
body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
@media screen {
  body {
    background: #2c2c2c;
  }
}

/* background layer */
.background.layer{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/Yeb4nRj.png');
  background-size: cover;
}

/* main layer */
.main.layer{
  position: relative;
  z-index: 2;
}

/* intro section */
@media screen {
  section#intro {
    background: #00000091;
    color: #fff;
  }
  section#intro a {
    color: #fff;
    text-decoration: none;
  }
  section#intro a:hover {
    color: #6bde99;
    text-decoration: none;
  }
}

@media screen {
  #logo {
    background-image: url('https://i.imgur.com/o9wogYS.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #logo:hover {
    background-image: url('https://i.imgur.com/BljVknY.png');
  }
  #logo.revealed {
    background-image: url('https://i.imgur.com/w9CfmPE.png');
  }
}

section#languages {
  color: #fff;
}
section#languages a {
  color: #fff;
  text-decoration: none;
}
section#languages a:hover, section#languages a.active {
  color: #6bde99;
}

section#intro .contact-button {
  border-radius: .2857rem;
  margin-right: .5em;
  white-space: nowrap;
  margin-bottom: 0.25rem;
  color: #2c2c2c;
}
@media screen {
  section#intro .contact-button {
    background-color: #6bde99;
    padding: .4rem .4rem .3rem;
  }
}
section#intro a.contact-button:hover {
  color: #fff;
}
section#intro .contact-button span {
  margin-left: 2px;
  font-weight: 600;
}
@media print {
  section#intro .contact-button span {
    text-decoration: underline;
  }
}

@media screen and (max-width: 576px){
  section#intro .resume-brief {
    display: none;
  }
}

section#intro img.taiwan-img {
  transform: rotate(8deg);
  filter: grayscale(1) brightness(4);
}
section#intro a:hover img.taiwan-img {
  filter: contrast(50%) brightness(180%);
}

/* resume section */
@media screen {
  section#resume {
    max-height: 0px;
    transition: max-height 1.5s;
    color: #000;
  }
}
@media print {
  section#resume {
    max-height: 25565vh !important;
  }
}
section#resume a {
  color: #2c2c2c;
  text-decoration: none;
}
section#resume a:hover {
  color: #6bde99;
  text-decoration: none;
}

.resume-story h1 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.resume-story h2 {
  margin-bottom: 0.8rem;
}
.resume-story h3, .resume-story h4 {
  margin-bottom: 0.5rem;
}
.resume-story h3 > span, .resume-story h4 > span {
  font-size: 0.8rem;
  font-weight: 500;
}
.resume-story h5, .resume-story h6, .resume-story p {
  margin-bottom: 0.4rem;
  font-size: 0.875rem;
}
.resume-story i.fab {
  font-weight: 100;
}
.resume-story .time-mark {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 0;
  height: 0;
}
.resume-story .time-mark > * {
  position: absolute;
  right: 0;
  padding-right: 0.25rem;
  white-space: nowrap;
}
.resume-story article {
  display: inline-block;
  margin-left: .75rem;
  width: 93%;
}
@media screen and (min-width: 576px){
  .resume-story article {
    width: 95%;
  }
}

/* blog section */
@media screen {
  section#blog {
    background: #2c2c2c;
    color: #6bde99;
  }
}
section#blog a {
  color: #fff;
}
section#blog a:hover {
  color: #6bde99;
}
section#blog a.post-title {
  text-decoration: none;
  color: unset;
}

.pagebreak { page-break-before: always; }

/* the missing print/screen queries of tailwindcss */
@media print {
  .print\:hidden {
    display: none;
  }
  .print\:block {
    display: block;
  }
  .print\:inline {
    display: inline;
  }
  .print\:inline-block {
    display: inline-block;
  }
  .print\:w-9\/10 {
    width: 90%;
  }
  .print\:py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen {
  .screen\:text-center {
    text-align: center;
  }
  .screen\:text-right {
    text-align: right;
  }
}
