/* stripe */
.masthead.stripe{
    padding: 50px 0px;
}
.dark.stripe{
    background: rgb(38, 38, 38);
}
.dark.stripe .ui.birthday.header{
    color: white;
}
.shadow.stripe{
    background: rgba(0, 0, 0, 0.48);
}
.shadow.stripe .header{
    color: white;
}
.shadow.stripe .header .sub.header{
    color: white;
}
.long.stripe{
    height: 200px;
}
.short.stripe{
    height: 70px;
}
.real.long.stripe{
    height: 600px;
}

/* cake */
.cake-table{
    padding: 50px 0px;
}
.cake-wrapper{
    height:400px;
    width:500px;
}

/* header */
@media (min-width: 800px){
    .ui.header.massive{
        font-size: 3em;
    }
}

/* frame */
.frame{
    width: 100%;
}
.frame.background{
    position: fixed;
    z-index: 1;
}
.frame.curtain{
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
}

/* misc */
.centerized{
    margin-left: auto;
    margin-right: auto;
}
.ui.hidable{
    opacity: 1;
    transition: opacity 1s;
}
.ui.hidable.hidden{
    opacity: 0;
}

.viewport-height{
    min-height: 100vh;
}

.bg{
    min-width: 100%;
    min-height: 100%;
}

/* segment */
.ui.homebrew.inverted.segment{
    background: black;
    color: #46f69d !important;
}

/* rwd */
@media (min-width: 800px){
    .show.on.sm.screen{
        display: none;
    }
}

@media (max-width: 800px){
    .show.on.lg.screen{
        display: none;
    }
}

/* body */
body {
    margin: 0;
    background: black;
    transition: all 1s;
}
/* font */
body {
  /*font-family: 'Satisfy', cursive;*/
}
