/* stripe */
.masthead.stripe{
    padding: 50px 0px;
}
.shadow.stripe{
    background: rgba(0, 0, 0, 0.48);
}
.shadow.stripe .ui.birthday.header{
    color: white;
}
.long.stripe{
    height: 200px;
}
.real.long.stripe{
    height: 600px;
}

/* cake */
.cake-table{
    padding: 50px 0px;
}
.cake-wrapper{
    height:400px;
    width:500px;
}

/* header */
@media (min-width: 800px){
    .ui.header.massive{
        font-size: 5em;
    }
}

.ui.birthday.header{
    color: rgba(253, 255, 182, 1);
    text-shadow: 0px 0px 20px rgba(53, 0, 0, 1);
}
.ui.birthday.header{
    color: rgba(253, 255, 182, 1);
    text-shadow: 0px 0px 20px rgba(53, 0, 0, 1);
}

/* frame */
.frame{
    width: 100%;
}
.frame.background{
    position: fixed;
    z-index: 1;
}
.frame.curtain{
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
}

/* misc */
.centerized{
    margin-left: auto;
    margin-right: auto;
}
.ui.hidable{
    opacity: 1;
    transition: opacity 1s;
}
.ui.hidable.hidden{
    opacity: 0;
}

.page{
    height: 100vh;
    
}

/* body */
body {
    margin: 0;
    background: white;
    transition: all 1s;
    -webkit-animation: backeffect 5s infinite; /* Chrome, Safari, Opera */
    animation: backeffect 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes backeffect {
    0%   {background: rgba(215, 172, 172, 1);}
    25%  {background: rgba(206, 215, 172, 1);}
    50%  {background: rgba(172, 215, 206, 1);}
    100% {background: rgba(215, 172, 172, 1);}
}
/* Standard syntax */
@keyframes backeffect {
    0%   {background: rgba(215, 172, 172, 1);}
    25%  {background: rgba(206, 215, 172, 1);}
    50%  {background: rgba(172, 215, 206, 1);}
    100% {background: rgba(215, 172, 172, 1);}
}

/* font */
body {
  font-family: 'Satisfy', cursive;
}

.secret_dom.content{
    font-family:"手札體-繁","微軟正黑體","標楷體","Times New Roman",Georgia,serif;
}
