/* stripe */
.masthead.stripe{
    padding: 50px 0px;
}
.shadow.stripe{
    background: rgba(0, 0, 0, 0.48);
}
.shadow.stripe .header{
    color: white;
}
.shadow.stripe .header .sub.header{
    color: white;
}
.dark.stripe .header{
    color: white;
}
.dark.stripe .header .sub.header{
    color: white;
}
.long.stripe{
    height: 200px;
}
.short.stripe{
    height: 70px;
}
.real.long.stripe{
    height: 600px;
}
.dark.stripe{
    background:rgb(38, 38, 38);
}
.contact.stripe{
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), black);
}

.footer.stripe {
   background: black;
}

@media (max-width: 1050px){
    .skill{
        text-shadow: 0px 0px 6px #C6EBFF;
    }
}
/* header */
@media (min-width: 800px){
    .ui.header.massive{
        font-size: 3em;
    }
}

/* frame */
.frame.background{
    position: fixed;
    z-index: 1;
    width: 100%;
}
.frame.curtain{
    position: relative;
    z-index: 2;
}

.background img, .background video{
    min-height:100vh;
    min-width:100%;
}

/* misc */
.centerized{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.ui.hidable{
    opacity: 1;
    transition: opacity 1s;
}
.ui.hidable.hidden{
    opacity: 0;
}
@media (min-width: 700px){
    .viewport-height{
        min-height: 100vh;
    }
}
.text-center{
    text-align: center;
}
.hashable.header, .hashable.label{
    cursor:pointer;
}
.hashable.header:hover{
    color:#00b2f3;
}

/* contact labels */
.contact.column i.icon{
    font-size:1.5em ;
}
.contact.column span{
   font-size:1.25em ;
}

/* segment */
.ui.homebrew.inverted.segment{
    background: black;
    color: #46f69d !important;
}

/* murmur */
.ui.header.murmur{
    font-weight: bold;
    text-shadow: 0 0 5px black;
    font-family: "微軟正黑體";
}

/* showcases */
#showcases{
    text-shadow: 0px 0px 6px rgb(190, 255, 225);
}
.ui.terminal.segment{
    background: rgba(61, 61, 61, 0.85);
    height:400px;
    color:#72BA8B;
    box-shadow: 0 0 0 1px rgba(121, 224, 232, 0.63);
    overflow: hidden;
}
.ui.terminal.label{
    background-color:#72BA8B;
    z-index: 9;
}
.ui.terminal.label:hover{
    background-color:#4DEF85;
    border-color:rgba(0,0,0,.15);
}
@-webkit-keyframes term_hightlight {
    0% {color: #72BA8B;}
    50% {color: white;}
    100% {color: #72BA8B;}
}

@keyframes term_hightlight {
    0% {color: #72BA8B;}
    50% {color: white;}
    100% {color: #72BA8B;}
}
.ui.terminal.segment .hightligh{
    font-size: 1.4em;
    -webkit-animation-name: term_hightlight;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: term_hightlight;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
.ui.terminal.segment p, .ui.terminal.segment a{
    font-family: 'Consolas', monospace;
    font-weight: bold;
    font-size: 1em;
    display: block;
    margin-bottom: 0;
    z-index: 8;
    position: relative;
}
.ui.terminal.segment img.image{
    top: 0px;
    position: absolute;
    left: 50%;
    height: 100%;
    width: auto;
    opacity: 0.25;
    z-index: 5;
}

.showcase .item{
    cursor:pointer;
    background:rgba(13, 60, 13, 0);
    transition:background 0.5s;
    border-radius:5px;
}
.showcase .item.showing{
    background:rgba(13, 60, 13, 0.44);
}
.showcase .detail{
    display:none;
}
.showcase img.image{
    margin: 5px auto auto 15% !important;
    margin-right: .25em;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgb(190, 255, 225);
}

/* bluring */
.blur {
    filter:url(#bluring);
    /* ^ for Firefox */
    -webkit-filter: blur(10px);
    /* ^ Webkit browsers */
    filter: blur(10px);
}

a.link {
   color: white;
   transition: color 0.5s;
}
a.nchuit.link:hover {
   color: green;
}
a.nchusgit.link:hover {
   color: cyan;
}
a.fixe-times-ruby.link:hover {
   color: red;
}

.ui.left-padded.list {
   padding-left: 5%;
}

/* rwd */
@media (min-width: 700px){
    .visible.on.xs{
        display: none;
    }
}

@media (max-width: 700px){
    .visible.having.sm{
        display: none;
    }
}

@media (max-width: 700px){
    .visible.on.sm{
        display: none;
    }
}

@media (min-width: 1050px){
    .visible.on.sm{
        display: none;
    }
}

@media (max-width: 1050px){
    .visible.on.md{
        display: none;
    }
}

@media (max-width: 1050px){
    .visible.having.md{
        display: none;
    }
}

@media (min-width: 1050px){
    .visible.no.md{
        display: none;
    }
}

@media (min-width: 1400px){
    .visible.on.md{
        display: none;
    }
}

@media (max-width: 1400px){
    .visible.on.lg{
        display: none;
    }
}

@media (min-width: 1400px){
    .visible.no.lg{
        display: none;
    }
}

/* body */
body {
    /* margin: 0; */
    background: black;
    /*transition: all 1s;*/
}
/* font */
body {
  /*font-family: 'Satisfy', cursive;*/
}
