#intro {
  @media screen {
    background: #00000064;
    color: #fff;

    a:hover {
      color: var(--theme-color);
    }
  }

  position: relative;
  #controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .taiwan {
    &.icon {
      width: 1rem;
      margin: 0 0.6rem;
    }
    width: 2rem;

    transform: rotate(8deg);
    filter: grayscale(1) brightness(4);

    @media print {
      filter: grayscale(1);
    }
  }
  @media screen {
    a:hover .taiwan {
      filter: contrast(50%) brightness(180%);
    }
  }
}

.contentBox {
  border-radius: 5px;
  @media screen {
    background: #00000064;
  }
}
