.postLink {
  .title {
    color: white;

    &:after {
      content: ' ';
      display: block;
      height: 1px;
      width: 0%;

      transition: width 0.5s;
    }
  }
  &:hover {
    .title {
      &:after {
        background: white;
        width: 100%;
      }
    }
  }
}
