/* scss will not work with next-optimized-images, using css only */

.background {
  background-size: cover;
  background-repeat: no-repeat;
}

.background.webp {
    background-image: url(../../assets/bg.jpg?webp);
  }
.background.noWebp {
    background-image: url(../../assets/bg.jpg);
  }
