.contacts {
  .contactBtn {
    display: inline-block;

    &.resume {
      @media screen {
        color: white;
      }
      display: block;
      background-color: transparent;
      text-align: right;
      margin-bottom: 0.1rem;
    }

    & > span {
      margin: 0 .35rem;
      font-weight: 600;
    }
  }
}
