section.resumeContent {
  position: relative;
  z-index: 0;

  @media print {
    border-top: solid 1px black;
  }

  @media screen {
    color: white;
    background: var(--background-color);

    a.link {
      text-decoration: underline;

      &:hover {
        color: var(--theme-color);
      }
    }
  }

  .resumeStory {
    @media screen {
      border-left: solid 1px white;
    }
    @media print {
      border-left: solid 1px black;
    }

    .timeMark, {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 0;
      height: 0;
      font-size: 0.8rem;
    }
    .timeMark > * {
      position: absolute;
      right: 0;
      top: 4px;
      padding-right: 0.25rem;
      white-space: nowrap;
    }
    article {
      display: inline-block;
      margin-left: .75rem;
      width: 93%;

    }
    @media screen and (min-width: 576px){
      article {
        width: 95%;
      }
    }
  }

  .showcase {
    position: relative;
    overflow: hidden;

    img.thumbnail {
      position: absolute;
      z-index: -1;
      top: 0;
      height: 100%;
      object-fit: cover;
    }
    img.printGradient {
      display: none;

      @media print {
        display: block;
        position: absolute;
        z-index: -1;
        top: -5px;
        width: 100%;
      }
    }
    .container {
      min-height: 14rem;

      .action {
        text-decoration: underline;
      }
    }

    &:nth-child(odd) {
      @media print {
        border-right: 1px solid black;
      }
      img.thumbnail {
        @media (min-width: 480px) {
          left: 0;
        }
      }
      .container {
        @media screen and (min-width: 480px) {
          background: linear-gradient(115deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 1) 40%);
        }
        @media (min-width: 480px) {
          text-align: right;
        }
      }
      .description {
        @media (min-width: 480px) {
          padding-left: 30%;
        }
      }
    }
    &:nth-child(even) {
      @media print {
        border-left: 1px solid black;
      }
      img.thumbnail {
        right: 0;
      }
      img.printGradient {
        @media print {
          transform: scaleX(-1);
        }
      }
      .container {
        @media screen {
          background: linear-gradient(245deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 1) 40%);
        }
      }
      .description {
        @media (min-width: 480px) {
          padding-right: 30%;
        }
      }
    }

    @media (max-width: 479px) {
      img.thumbnail {
        right: 0;
      }
      .container {
        @media screen {
          background: linear-gradient(245deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 1) 40%);
        }
        .action {
          text-align: right;
        }
      }
    }
  }
}
