section.resumeContent {
  @media print {
    border-top: solid 1px black;
  }

  @media screen {
    color: white;
    background: var(--background-color);
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover {
      color: var(--theme-color);
      text-decoration: underline;
    }
  }

  .resumeStory {
    @media screen {
      border-left: solid 1px white;
    }
    @media print {
      border-left: solid 1px black;
    }

    h1 {
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
    }
    h2 {
      margin-bottom: 0.8rem;
    }
    h3, h4 {
      margin-bottom: 0.5rem;
      & > span {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
    h5, h6, p {
      margin-bottom: 0.4rem;
      font-size: 0.875rem;
    }
    .timeMark, {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 0;
      height: 0;
      font-size: 0.8rem;

    }
    .timeMark > * {
      position: absolute;
      right: 0;
      padding-right: 0.25rem;
      white-space: nowrap;
    }
    article {
      display: inline-block;
      margin-left: .75rem;
      width: 93%;
    }
    @media screen and (min-width: 576px){
      article {
        width: 95%;
      }
    }
  }

  .pagebreak {
    page-break-before: always; 
  }
}
