:root {
  --theme-color: #6bde99;
  --background-color: #2c2c2c;
  --background-avg-color: #3d4941;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen {
  .screen\:text-center {
    text-align: center;
  }
}

@media print {
  .print\:hidden {
    display: none !important;
  }

  .print\:inline-block {
    display: inline-block !important;
  }

  .print\:block {
    display: block !important;
  }

  .print\:inline {
    display: inline !important;
  }
}

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

@media screen {
  html {
    font-size: 18px;
  }
  body {
    color: white;
    background: black;
  }
}
