.resumeModeBlock, .resumeModeInline {
  display: none;
}
.normalModeMinHScreen {
  min-height: 100vh;
}

@mixin resumeMode {
  .normalModeMinHScreen {
    min-height: auto;
  }
  .resumeModeHidden {
    display: none;
  }
  .resumeModeBlock {
    display: block;
  }
  .resumeModeInline {
    display: inline;
  }

  @media (max-width: 479px) {
    .resumeModeBlockOnlyXs {
      display: block;
    }
  }
}

@media print {
  @include resumeMode;
}
.resumeMode {
  @include resumeMode;
}
